body {
    background: #FFEBCD;
    width: 100%;
}

h2 {
    font-size: 26px;
    text-align: center;
    color: #f45da0;
}

h3 {
    font-size: 22px;
    text-align: center;
    color: #f45da0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #ffcec2;
    border-radius: 5px;
    width: 1010px;
    margin: 50px 16% 50px 16%;
}

.content-child {
    border: 2px solid #f45da0;
    border-radius: 4px;
    margin: 10px;
    width: 850px;
}

.child1 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    margin: 20px;
}

.child2 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    margin: 20px;
}

.child1-item {
    background-color: #FFEBCD;
    border: 2px solid #f45da0;
    border-radius: 4px;
}

.child1 p, .child2 p {
    padding: 5px;
    font-size: 16px;
    text-align: center;
    color: #f45da0;
}
