<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Админ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" href="../static/css/header_style.css" th:href="@{/css/header_style.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/footer_style.css" th:href="@{/css/footer_style.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/admin_style.css" th:href="@{/css/admin_style.css}"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<!--<div>-->
<!--    <h2>Список пользователей</h2>-->
<!--    <div th:each="el : ${allUsers}">-->
<!--        <h4 th:text="${el.name}"></h4>-->
<!--        <h4 th:text="${el.surname}"></h4>-->
<!--        <h4 th:text="${el.age}"></h4>-->
<!--        <h4 th:text="${el.login}"></h4>-->
<!--        <h4 th:text="${el.password}"></h4>-->
<!--        <form method="post">-->
<!--            <button type="submit" name="userId" th:value="${el.id}">Удалить</button>-->
<!--        </form>-->
<!--        <a th:href="'/admin/' + ${el.id} + '/edit'">Редактировать</a>-->
<!--    </div>-->
<!--    <a th:href="'/admin/add'">Добавить преподавателя</a>-->
<!--</div>-->

<div class="admin">
    <h2>Список пользователей</h2>
    <table>
        <thead class="td">
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>Логин</th>
        <th>Пароль</th>
        </thead>
        <div th:each="el : ${allUsers}">
            <tr class="td">
                <td th:text="${el.name}"></td>
                <td th:text="${el.surname}"></td>
                <td th:text="${el.age}"></td>
                <td th:text="${el.login}"></td>
                <td th:text="${el.password}"></td>
                <td>
                    <form method="post">
                        <button type="submit" name="userId" th:value="${el.id}">Удалить</button>
                    </form>
                </td>
                <td>
                    <a th:href="'/admin/' + ${el.id} + '/edit'">Редактировать</a>
                </td>
            </tr>
        </div>
    </table>
    <a th:href="'/admin/add'">Добавить преподавателя</a>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>