<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Учебные материалы</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div>
    <form method="post">
        <select name="searchBy">
            <option>По названию</option>
            <option>По языку</option>
            <option>По автору</option>
        </select>
        <input type="text" name="value" placeholder="Введите значение поиска">
        <p>Сортировка</p>
        <select name="sortBy">
            <option>По названию</option>
            <option>По автору</option>
        </select>
        <button type="submit">Сортировать</button>
    </form>
</div>

<div>
    <h2>Учебные материалы</h2>
    <div th:each="el : ${books}">
        <h4 th:text="${el.name}"></h4>
        <h4 th:text="${el.author}"></h4>
        <h4 th:text="${el.language}"></h4>
        <a th:href="'/books/' + ${el.id}">Подробнее</a>
    </div>
    <a th:href="'/books/add'">Добавить учебный материал</a>
</div>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>