<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div>
    <h2>Редактирование</h2>
    <div th:each="el : ${book}">
        <form method="post">
            <input type="text" name="name" th:value="${el.name}" placeholder="Введите название">
            <input type="text" name="author" th:value="${el.author}" placeholder="Введите автора">
            <input type="text" name="language" th:value="${el.language}" placeholder="Введите язык">
            <input type="text" name="level" th:value="${el.level}" placeholder="Введите уровень">
            <textarea name="description" th:text="${el.description}" placeholder="Введите описание"/>
            <button type="submit">Обновить</button>
        </form>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>