<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Подробнее</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" href="../static/css/header_style.css" th:href="@{/css/header_style.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/footer_style.css" th:href="@{/css/footer_style.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/course_style.css" th:href="@{/css/course_style.css}"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="course-info">
    <div th:each="el : ${book}">
        <p><b>Название материала: </b><span th:text="${el.name}"></span></p>
        <p><b>Автор: </b><span th:text="${el.author}"></span></p>
        <p><b>Язык изучения: </b><span th:text="${el.language}"></span></p>
        <p><b>Уровень: </b><span th:text="${el.level}"></span></p>
        <b>Описание: </b><textarea th:text="${el.description}" disabled></textarea>
        <a th:href="'/books/' + ${el.id} + '/edit'">Редактировать</a>
        <form th:action="'/books/' + ${el.id} + '/delete'" method="post">
            <button th:href="'/books/' + ${el.id} + '/delete'" type="submit">Удалить</button>
        </form>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>