<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div>
    <form method="post">
        <select name="searchBy">
            <option>По названию</option>
            <option>По языку</option>
            <option>По уровню</option>
        </select>
        <input type="text" name="value" placeholder="Введите значение поиска">
        <p>Сортировка</p>
        <select name="sortBy">
            <option>По названию</option>
            <option>По цене</option>
        </select>
        <button type="submit">Сортировать</button>
    </form>
</div>

<div>
    <h2>Курсы</h2>
    <div th:each="el : ${courses}">
        <h4 th:text="${el.name}"></h4>
        <h4 th:text="${el.language}"></h4>
        <h4 th:text="${el.price}"></h4>
        <a th:href="'/courses/' + ${el.id}">Подробнее</a>
    </div>
    <a th:href="'/courses/add'">Добавить курс</a>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>