<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Добавление курса</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div>
  <h2>Добавление курса</h2>
  <form action="/courses/add" method="post">
    <input type="text" name="name" placeholder="Введите название курса">
    <input type="text" name="language" placeholder="Введите язык изучения">
    <input type="text" name="level" placeholder="Введите начальный уровень">
    <input type="number" name="quantity_of_students" placeholder="Введите количество человек в группе">
    <input type="number" name="age_of_group" placeholder="Введите минимальный рекомендованный возраст">
    <input type="number" step="0.01" name="price" placeholder="Введите цену курса">р.
    <textarea name="description" placeholder="Введите описание курса"></textarea>
    <button type="submit">Добавить курс</button>
  </form>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>