<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Редактировае курса'"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div>
    <h2>Редактирование курса</h2>

    <div th:each="el : ${course}">
        <form method="post">
            <input type="text" name="name" th:value="${el.name}" placeholder="Введите название курса">
            <input type="text" name="language" th:value="${el.language}" placeholder="Введите язык изучения">
            <input type="text" name="level" th:value="${el.level}" placeholder="Введите начальный уровень">
            <input type="number" name="quantity_of_students" th:value="${el.quantity_of_students}" placeholder="Введите количество человек в группе">
            <input type="number" name="age_of_group" th:value="${el.age_of_group}" placeholder="Введите минимальный рекомендованный возраст">
            <input type="number" step="0.01" name="price" th:value="${el.price}" placeholder="Введите цену курса">р.
            <textarea name="description" th:text="${el.description}" placeholder="Введите описание курса"/>
            <button type="submit">Обновить</button>
        </form>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>