<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Мероприятия</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div>
    <form method="post">
        <select name="searchBy">
            <option>По названию</option>
            <option>По языку</option>
        </select>
        <input type="text" name="value" placeholder="Введите значение поиска">
        <p>Сортировка</p>
        <select name="sortBy">
            <option>По названию</option>
            <option>По дате</option>
        </select>
        <button type="submit">Сортировать</button>
    </form>
</div>

<div>
    <h2>Мероприятия</h2>
    <div th:each="el : ${events}">
        <h4 th:text="${el.name}"></h4>
        <h4 th:text="${#temporals.format(el.date, 'dd.MM.yyyy')}"></h4>
        <h4 th:text="${el.language}"></h4>
        <a th:href="'/events/' + ${el.id}">Подробнее</a>
    </div>
    <a th:href="'/events/add'">Добавить мероприятие</a>
</div>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>