<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Мероприятия</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div>
    <h2>Мероприятия</h2>
    <div th:each="el : ${events}">
        <h4 th:text="${el.name}"></h4>
        <h4 th:text="${#temporals.format(el.date, 'dd.MM.yyyy')}"></h4>
        <h4 th:text="${el.language}"></h4>
        <a th:href="'/events/' + ${el.id}">Подробнее</a>
    </div>
    <a th:href="'/events/add'">Добавить мероприятие</a>
</div>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>