<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" href="../static/css/header_style.css" th:href="@{/css/header_style.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/footer_style.css" th:href="@{/css/footer_style.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/login_style.css" th:href="@{/css/login_style.css}"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div th:if="${usernameError}">
    <dialog open>
        <p>Пользователь с таким логином уже есть.</p>
        <form method="dialog">
            <button type="submit">Ок</button>
        </form>
    </dialog>
</div>

<div class="login">
    <h2>Регистрация</h2>
    <form action="/registration" method="post">
        <input type="text" name="name" placeholder="Введите имя">
        <input type="text" name="surname" placeholder="Введите фамилию">
        <input type="number" name="age" placeholder="Введите возраст">
        <input type="text" name="login" placeholder="Введите логин">
        <input type="password" name="password" placeholder="Введите пароль">
        <button type="submit">Зарегистрироваться</button>
    </form>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>