<div th:fragment="footer" class="footer">
    <div class="container">
        <div class="col">
            <p>Сайт школы иностранных языков MurMur</p>
        </div>
        <div class="col">
            <h4>Контакты</h4>
            <dl>
                <dt>Почта:</dt>
                <dd><a href="mailto:chibisova3586@gmail.com">chibisova3586@gmail.com</a></dd>
            </dl>
            <dl>
                <dt>Телефон:</dt>
                <dd><a href="tel:+375291857153">+375 (29) 185-71-53</a></dd>
            </dl>
        </div>

        <div class="col">
            <a class="social-inner" href="https://www.instagram.com/"><span
                    class="icon mdi mdi-instagram"></span><span>instagram</span></a>
            <a class="social-inner" href="https://vk.com/im/"><span
                    class="icon mdi mdi-vk"></span><span>вконтакте</span></a>
        </div>
    </div>
</div>